body{
  background-image: url("../assets/images/eiffel-torre.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo1{
  width: 20%;
  height: 70%;
}
.center{
  text-align: center;
}
.marginB{
  margin-bottom: 40%;
}
.marginT{
  margin-top: 40%;
}
.button.alert {
    background-color: transparent;
    color: #fefefe;
    border-color: #fff;
  
}
