.center{
  text-align: center;
}
.button.success {
    background-color: #fff;
    color: #ef0bd1;
    font-size: 67px;
    height: 40%;
}
.title{
  font-size: 30px;
  padding-top: 12%;
}
.hide{
  display: none;
}
.boton2{
  background: #ea0b8c;
  width: 100%;
  height: 30px;;
}
